.mikes-modal {
	width:60%;
	height:400px;
  z-index: 10001;
  position: fixed;
  background-color: white;
  left: 50%;
  top: 30%;
  display: none;
  border-bottom:8px solid #9AC551; }
  .mikes-modal a {
    text-decoration: none; }
  .mikes-modal img {
	  padding-top:25px;
	  padding-left:25px;
	  width:90%;
    float: left; }
  .mikes-modal .description {
    width: 40%;
    float: right;
    text-align: left;
     }
	
  .mikes-modal .close {
    position: absolute;
    right: 10px;
    cursor: pointer;
    opacity: 0.7; }

#loading-modal {
  position: absolute;
  z-index: 10000;
  width: 220px;
  height: 220px;
  top: 50%;
  left: 50%;
  margin-top: -110px;
  margin-left: -110px;
  background-color: #333;
  border-radius: 20px; }

#the-lights {
  background-color: #000;
  height: 100%;
  width: 100%;
  position: fixed;
  opacity: 0.9;
  top: 0;
  left: 0;
  z-index: 10000; }
  
 .pro-image{
	 width:40%;
	 padding:0px; } 
	 .title-area h4{
		 font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
		 color:#636363;
	 }
	 .title-area span{
		 font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
		 color:#909090;
		 font-size:14px;
	 }
	 .title-area p{
		 font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
		 color:#666666;
	 }
	 .title-area h2{
		 color:#568F28;
		 font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	 }
	 .title-area button{
		 background-color:white; /* Green */
    border: 1px solid #83A441;
    color: hsla(76,93%,21%,1.00);
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
	transition:all .3s;
	cursor:pointer;
	 }
	 .title-area button:hover{
		 background-color:#83A441;
		 color:white;
	 }
		 
		 
		 

@media all and (max-width: 700px) {
  .mikes-modal {
    left: 0%;
    margin-left: 0px !important;
    position: absolute; }
    .mikes-modal .description {
      clear: both;
      width: 95% !important;
      float: left;
      padding: 2.5%;
      background-color: white; }
    .mikes-modal .close {
      color: white;
      top: 0px; }
    .mikes-modal img {
      max-width: 100% !important;
      max-height: 100% !important; }
    .mikes-modal #comments {
      margin-top: 20px; }

  #comments-area .new-comment {
    position: inherit;
    width: 100%;
    background-color: black; } }
