﻿@{
    ViewBag.Title = "about";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="mainwrap">

<div ng-controller="HomeController" >
    @*{{Message}}*@
   <div class="container about" style="margin-top:20px;">
	<div class="col-md-12">
		<img src="~/Content/images/about.png" class="img-responsive" alt="" style="margin:0 auto;">
	</div>
	<div class="info_title">
	<h2>ABOUT US</h2>
	</div>
	<div class="col-md-12">
		<p>
            <!--Beyond our innovation and installation of LED lighting production, our specialization includes high power led, Street lights, High bay, Factory and Tunnel lights.-->
Our organization has highly motivated experienced technical team in charge of developing and researching, our highly energetic support team is there for you 24/7. We do have a knowledgeable sales and support team, who understand your needs and eager to help or work with you. We believe in continuous research and Quality Control Check of our products which make them contemporary in the market. We always welcome OEM orders, whether selecting a product from our catalog or seeking engineering assistance for your applications, you can always discuss with our customer or technical service about your requirements.
<br /><br />
<b>IOT (Internet Of Things)</b>
            Our most prominent application areas for IOT are Energy management ,Environmental monitoring, Manufacturing, Medical and healthcare, home automation and logistics.

We are leveraging our services into new IOT technology, which allows any objects can be sensed and/or controlled remotely from any where in 
the world. Our solutions provide clients to enhance the exist infrastructure without any wasting resources or money. This approach has created many opportunities for 
direct integration of the physical world into computer based systems and resulting in improved accuracy & efficiency, We can provide custom solutions to maintain 
accuracy and economic benefit in addition to reduced human intervention. Integration with Cloud solutions made possible to monitor resources and track the data. 
We develop notifications using AWS Push notification alerts as per the users requirement which would be very helpful in case of broad casting the advertisements or 
messages. Some of our most prominent application areas with different characteristics are <b>
Energy management ,Environmental monitoring, Manufacturing, Medical and health care, home automation and logistics.</b>

        </p>
        <br />
        <p>
            <b>Web and Mobile Solutions</b>
            We design and develop Web pages, win forms , custom mobile apps, mobile SDKs and utilities, as well as solutions for business smoothly integrated with web services and internal 
corporate systems  from requirements gathering to release and submission to the application stores. We take care of porting, ongoing maintenance and support.
We develop advanced mobile clients and distributed mobility solutions seamlessly integrated with databases <b>(SQL, MySQl, MongoDB)</b>, applications <b>(using .NET)</b> and systems for Ecommerce enablement, B2B, B2C and B2E solutions.
            Our team can support in the complete SDLC - Software development life cycle.
            <br />
            <br />


        </p>
	</div>
</div>
</div>
    </div>