﻿@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <div class="full_container clayout" style="width:100%; padding:0;">
        <div class="container no-padding">
            <div class="col-md-12" style="padding:0;">
                
               

                    <div id="map" style="height:260px; padding:0;"></div>
                    <div class="container full_container" style="width:100%; padding:0px; background-color:#e4e8e9;">


        <div class="adbox">
            <div class="col-md-12 adcard" id="btnaddmarker1">
                <img src="~/Content/images/andhra.png" class="img-responsive" alt="" style="margin:0 auto; width:40%">
                <h4>Andhra Pradesh</h4>
                <p> 11-308 / 1 , Lakshminagar, Palamaner, Chittoor Dist.  <br />A.P - INDIA - 517408. <br />+91 910 842 8202<br /> Info@PlmrLightingSolutions.Com</p>
            </div>
        </div>
        <div class="adbox">
            <div class="col-md-12 adcard" id="btnaddmarker2">
                <img src="~/Content/images/bangalore.png" class="img-responsive" alt="" style="margin:0 auto; width:40%">
                <h4>Bangalore</h4>
                <p> 29 / 30, Chowdeswari Nilaya,<br />Lakshmi Tent Road, Ramamurthy Nagar, Bangalore - 560 016.<br /> +91 98440 70279 <br />Info@PlmrlightingSolutions.com</p>
            </div>
        </div>
        <div class="adbox">
            <div class="col-md-12 adcard" id="btnaddmarker3">
                <img src="~/Content/images/bangalore.png" class="img-responsive" alt="" style="margin:0 auto; width:40%">
                <h4>Bangalore</h4>
                <p>#49/1 No.1 Ground Floor,<br />Geeta Rani Building 3rd Cross<br />G.S Palya, Bengaluru- 560 100<br /> +91 88613 24194<br />Info@PlmrlightingSolutions.com</p>
            </div>
        </div>
        <div class="adbox">
            <div class="col-md-12 adcard" id="btnaddmarker4">
                <img src="~/Content/images/chennai.png" class="img-responsive" alt="" style="margin:0 auto; width:40%">
                <h4>Chennai</h4>
                <p>Engineers Avenue,6th cross,<br />S Kolathur, Chennai-600091.<br /> +91 73583 06996<br /><br />Info@PlmrlightingSolutions.com</p>
            </div>
        </div>
        <div class="adbox">
            <div class="col-md-12 adcard" id="btnaddmarker5">
                <img src="~/Content/images/usa.png" class="img-responsive" alt="" style="margin:0 auto; width:40%">
                <h4>USA</h4>
                <p>4775-1A, Lake Trail Dr,<br /> Lisle, IL.USA - 60532. <br />+1 732 318 8311 <br /> Info@PlmrLightingSolutions.com</p>
            </div>
        </div>

                </div>
            </div>
        </div>
    </div>

    




    
 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBOHP2FwKpc3tegjiRfvNHcb89fEJQWJLk&callback=initMap"
            async defer></script>
    <script>
        function initMap() {
            // Styles a map in night mode.
            var IT = new google.maps.LatLng(13.199080, 78.746944);
            var UT = new google.maps.LatLng(12.911605, 77.574027);
            var JT = new google.maps.LatLng(12.880756, 77.595910);
            var GT = new google.maps.LatLng(12.953071, 80.198093);
            var PT = new google.maps.LatLng(41.79731, -88.110164);
            var map = new google.maps.Map(document.getElementById('map'), {
                center: IT,
                zoom: 12,
                scrollwheel: false,


            });


            marker = new google.maps.Marker({
                map: map,
                icon: 'images/pointer.png',
                animation: google.maps.Animation.DROP,
                position: IT
            });


            $('#btnaddmarker1').on('mouseover', function () {
                var map2 = new google.maps.Map(document.getElementById('map'), {
                    center: IT,
                    zoom: 12,
                    scrollwheel: false,
                });
                marker = new google.maps.Marker({
                    map: map2,
                    icon: 'images/pointer.png',
                    animation: google.maps.Animation.BOUNCE,
                    position: IT
                });
            })

            $('#btnaddmarker2').on('mouseover', function () {
                var map3 = new google.maps.Map(document.getElementById('map'), {
                    center: UT,
                    zoom: 12,
                    scrollwheel: false,

                });
                marker = new google.maps.Marker({
                    map: map3,
                    icon: 'images/pointer.png',
                    animation: google.maps.Animation.BOUNCE,
                    position: UT
                });
            })
            $('#btnaddmarker3').on('mouseover', function () {
                var map3 = new google.maps.Map(document.getElementById('map'), {
                    center: JT,
                    zoom: 12,
                    scrollwheel: false,

                });
                marker = new google.maps.Marker({
                    map: map3,
                    icon: 'images/pointer.png',
                    animation: google.maps.Animation.BOUNCE,
                    position: JT
                });
            })
            $('#btnaddmarker4').on('mouseover', function () {
                var map3 = new google.maps.Map(document.getElementById('map'), {
                    center: GT,
                    zoom: 12,
                    scrollwheel: false,

                });
                marker = new google.maps.Marker({
                    map: map3,
                    icon: 'images/pointer.png',
                    animation: google.maps.Animation.BOUNCE,
                    position: GT
                });
            })
            $('#btnaddmarker5').on('mouseover', function () {
                var map3 = new google.maps.Map(document.getElementById('map'), {
                    center: PT,
                    zoom: 12,
                    scrollwheel: false,

                });
                marker = new google.maps.Marker({
                    map: map3,
                    icon: 'images/pointer.png',
                    animation: google.maps.Animation.BOUNCE,
                    position: PT
                });
            })

        }

    </script>
