﻿@{
    ViewBag.Title = "Disclaimer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="full_container clayout" style="width:100%; padding:0;">
        <div class="container no-padding">
<div class="col-md-12" style="top:50px;margin-left:10%;height:60%;width:80%;overflow:auto;">
		<h3>WEBSITE DISCLAIMER</h3>
    <p>
The information contained in this website is for general information purposes only. The information is provided by www.PlmrLightingSolutions.com, a property of PLMR Lighting Solutions. While we endeavour to keep the information up to date and correct, we make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability or availability with respect to the website or the information, products, services, or related graphics contained on the website for any purpose. Any reliance you place on such information is therefore strictly at your own risk.
<br />
        <br />
    </p>
    <p>
        In no event will we be liable for any loss or damage including without limitation, indirect or consequential loss or damage, or any loss or damage whatsoever arising from loss of data or profits arising out of, or in connection with, the use of this website.
        <br /><br />
    </p>

    <p>
        Through this website you are able to link to other websites which are not under the control of PLMR Lighting Solutions. We have no control over the nature, content and availability of those sites. The inclusion of any links does not necessarily imply a recommendation or endorse the views expressed within them.
<br /><br />
    </p>
    </div>
            </div>
    </div>

