﻿@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />
<br />
<div style="color:red;position:relative;margin-top:200px;text-wrap:normal;margin-left:50px">
<h2>oops...! sorry. <br />Could not retrieve the details you requested at this moment. <br />Please contact support team.</h2>
</div>