﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div ng-controller="HomeController" >
    @*{{Message}}*@

  @*  <div class="container slider mainwrap">
	 <div id="wrapper"> 
    <!-- Slideshow 4 -->
    <div class="callbacks_container">
      <ul class="rslides" id="slider4">
        <li>
          <img src="~/Content/images/drivers/S1.png" alt="">
          <!--<p class="caption">The third caption</p>-->
            </li>
       <li>
          <img src="~/Content/images/drivers/S2.png" alt="">          
       </li>
        <li>
          <img src="~/Content/images/drivers/S3.png" alt="">          
       </li>
        
          <li>
          <img src="~/Content/images/drivers/S4.png" alt="">          
       </li>
        
          <li>
          <img src="~/Content/images/drivers/S5.png" alt="">          
       </li>
        
          <li>
          <img src="~/Content/images/drivers/S6.png" alt="">          
       </li>
        
      </ul>
      
	  
    </div>

  </div>
 </div>*@
    <div class="container slider mainwrap">
         <div class="callbacks_container">
        <img src="~/Content/images/overview/FirstPage.png" style="width:60%;height:40%;margin-left:20%;margin-top:10px" alt=""> 
             </div>
    </div>

     <div class="container about_layout">
	<div class="info_title">
	<h1>PALAMANERU LIGHTING SOLUTIONS</h1>    
    <p>We are leading innovative solution & service providers based in Indian offering affordable solutions to utilize the technology or resources around us. Leveraging our services in IOT , embedded & advanced distributed web solutions to capture real time data.
        We are proud to be presenting a brand new intelligent LED lighting system which includes new generation of LED chipset , sensors, Surveillance camera with many integrated features. Real time or achieved data is available 24/7 through Cloud / data centers and can be accessed through mobile or the desktop apps.
        Accuracy and economic benefit in addition to reduced human intervention our solutions made possible to get trigger alerts through edge cutting technology Cloud and AWD Push notifications.</p> 
    </div>
         </div>
   

</div>
