﻿@{
    ViewBag.Title = "LedDrivers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mainwrap" ng-app="AllProductsModule" ng-controller="AllProductsController">
 <div class="col-md-4"  ng-repeat="item in plmrCircuits">
         <div class="product_layout">
             <a href="{{item.ID}}">
                 <div class="details">
                     <p>{{item.Header}}</p>
                     <h3>{{item.Title}}</h3>
                 </div>
                 <img src="{{item.ImagePath}}" class="img-responsive" alt="" style="width:100%;height:200px">
             </a>
         </div>
     </div>

 </div>
<br />