﻿@{
    ViewBag.Title = "LedProducts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>*@
@*<script>
    var LandingPageController = function($scope) {
        $scope.models = {
            helloAngular: 'I work!'
        };
    var myApp = angular.module('MyModule', []);
    myApp.controller('HomeController', function ($scope, $http) 
    {
        $http.get('/home/AllStudents/').then(function (response)
        {
            $scope.students = response.data
        });
    }
    );
    alert('hi');
</script>*@
 
 <div class="container mainwrap" ng-app="AllProductsModule" ng-controller="AllProductsController">

  @* <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    @Scripts.Render("~/bundles/AllProductsModule")*@

    @* <div ng-app="AllProductsModule" >       
        <table ng-controller="AllProductsController">
     <thead>
          <tr>
             <th>Name</th>
             <th>City</th>
             <th>Institute</th>
           </tr>
     </thead>
           <tr ng-repeat="student in students">
             <td>{{ student.name }}</td>
             <td>{{ student.marks}}</td>
             <td>{{ student.name}}</td>
          </tr>
 </table>
     </div>*@

     <div class="col-md-4"  ng-repeat="item in plmrProducts">
         <div class="product_layout">
             <a href="{{item.ID}}">
                 <div class="details">
                     <p>{{item.Header}}</p>
                     <h3>{{item.Title}}</h3>
                 </div>
                 <img src="{{item.ImagePath}}" class="img-responsive" alt="" style="width:100%;height:200px">
             </a>
         </div>
     </div>


    @* <h2 style="color:#aeaeae;">Chips</h2>
     <table>
     <tr ng-repeat="item in plmrProducts">
<td>
      <div class="col-md-4">
         <div class="product_layout">
             <a href="{{item.ID}}">
                 <div class="details">
                     <p>{{item.Header}}</p>
                     <h3>{{item.Title}}</h3>
                 </div>
                 <img src="{{item.ImagePath}}" class="img-responsive" alt="" style="width:100%;">                             
             </a>
         </div>
     </div>
</td>
     </tr>
 	</table>*@

     @*<div class="col-md-4">
         <div class="product_layout">
             <a href="/home/productdetails">
                 <div class="details">
                     <p>Custom LED chips</p>
                     <h3>Chip on board LED</h3>
                 </div>
                 <img src="~/Content/images/chip_on_board.png" class="img-responsive" alt="" style="width:100%;">
                 <button onclick="javascript:window.open('/home/productdetails')">View Details</button>                 
             </a>
         </div>
     </div>
     <div class="col-md-4">
         <div class="product_layout">
             <a href="/home/productdetails">
                 <div class="details">
                     <p>Custom LED chips</p>
                     <h3>Chip on board LED</h3>
                 </div>
                 <img src="~/Content/images/chip_on_board.png" class="img-responsive" alt="" style="width:100%;">
                 <button onclick="javascript:window.open('/home/productdetails')">View Details</button>                 
             </a>
         </div>
     </div>*@

 </div>

<br />
