﻿@{
    ViewBag.Title = "OverView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mainwrap">

	<h2 style="padding:0px 25px; color:#aeaeae;">OVERVIEW</h2>
 

<div class="container descript" style="background-color:#fff; width:100%;  height:auto;color:#aeaeae;">
	<div class="col-md-12">
		<img src="~/Content/images/overview/street_light.jpg" class="img-responsive" alt="" style="margin:0 auto;">
	</div>
	<div class="col-md-12">
		<h3>LED Street Light</h3>
		<p>An LED street light is an integrated light that uses light emitting diodes (LED) as its light source. These are considered integrated lights because, in most cases, the luminaire and the fixture are not separate parts (except LEDGine-based luminaires). New in manufacturing, the LED light cluster is sealed on a panel and then assembled to the LED panel with a heat sink to become an integrated lighting fixture.

Most LED street lights have a lens on the LED panel, which is designed to cast its light in a rectangular pattern, an advantage compared to traditional street lights, which typically have a reflector on the back side of a high-pressure sodium lamp. In this case, much of the luminance of the light is lost and produces light pollution in the air and surrounding environment. Such street lights can also cause glare for drivers and pedestrians. </p>
	</div>
	<div class="col-md-4 feature" style="margin-top:20px;">
		<h4>Low energy consumption</h4>		
	</div>
	<div class="col-md-4 feature" style="margin-top:20px;">
		<h4>Long and predictable lifetime</h4>		
	</div>
	<div class="col-md-4 feature" style="margin-top:20px;">
		<h4>Quick turn on and off</h4>	
	</div>	
 </div>


 <div class="container descript" style="background-color:#f1f3f3; width:100%; padding:10px 10px; height:auto; color:#aeaeae;">
	<div class="col-md-12">
		<img src="~/Content/images/overview/Survillance.png" class="img-responsive" alt="" style="margin:0 auto;">
	</div>
	<div class="col-md-12">

 
		<h3>Survillance</h3>
		<p>In current situation We live in a constant threat or attack from different sources In order to live safer, These are extremely helpful. Installation of surveillance has become mandatory which gain increased safety in community. These help you stay safe while shopping , travelling, parking,retails places or any usual public gatherings.Cameras keep an eye out for any crimes that are being committed. These are excellent job in monitoring and additionally crimes can be deterred before they even begin. Helps in eliminating suspicious activities and create alerts to authorities.
Crime rate has dropped to 20% compare the areas without any monitoring system. Individual knows if the surveillance camera in a certain places then they be less willing to commit any crime near the location for the fear of being caught. This technology has helped in identifying the criminals , poster the image and aired on network media to seek help in identifying the individuals. Provide evidence and gather clues - footage captured in camera can be used in a law as evidence against the accused / insurance.</p>
	</div>
	<div class="col-md-4 feature" style="margin-top:20px;">

		<h4><i class="fa fa-globe" aria-hidden="true"></i> 24 Hrs Online</h4>
		
	</div>
	<div class="col-md-4 feature" style="margin-top:20px;">
		<h4><i class="fa fa-eye" aria-hidden="true"></i> Monitoring from anywhere </h4>
		
	</div>
	<div class="col-md-4 feature" style="margin-top:20px;">
		<h4><i class="fa fa-life-ring" aria-hidden="true"></i> Protection Glass</h4>
		
	</div>
	
	<hr>
	
 </div>
 <div class="container descript" style="background-color:#fff; width:100%; padding:10px 10px; height:auto; color:#aeaeae;">
	<div class="col-md-12">
		<img src="~/Content/images/overview/sensor.png" class="img-responsive" alt="" style="margin:0 auto;">
	</div>
	<div class="col-md-12">
		<h3>Motion Sensor</h3>
		<p>Led motion sensor light technology is very efficient because eliminating the chances of leaving your lights on by mistake. It's a common approach to various problems such as security, electrical efficiency etc. Environmental friendly solution and in the end you pay less in electricity bills because there is no redundancy of electricity. with the help of this technology you do not have to continually switch on / off your lights because the sensor will do it for you. This is very convenient for all those who have the lighting switches inside the rooms rather than outside, restricting entry into a pitch black areas trying to find the light switch. By installing a LED motion sensor light you will eliminate all of the above mentioned situations and eliminate long extra wires.
Led motion sensor lights are a very good deterrent against burglars because it will be much harder to break into homes and remain unnoticed in a house which is lit properly. So Led motion sensor lights are an effective way to increase your home security without spending a fortune on sophisticated alarms and lighting systems. These are very reliable because it uses body heat and wave lengths to calculate whether there is a movement or not, hence you can be certain that it will not fail. You can also adjust the amount of sensitivity. </p>
	</div>
	<div class="col-md-4 feature" style="margin-top:20px;">
		<h4>Auto cut off</h4>		
	</div>
	<div class="col-md-4 feature" style="margin-top:20px;">
		<h4>Auto movement</h4>		
	</div>
	<div class="col-md-4 feature" style="margin-top:20px;">
		<h4>Environmental friendly</h4>	
	</div>	
 </div>
 <hr>
 <div class="container descript" style="background-color:#f1f3f3; width:100%; padding:10px 10px; height:auto; color:#aeaeae;">
	<div class="col-md-12">
		<img src="~/Content/images/overview/alarm.png" class="img-responsive" alt="" style="margin:0 auto;">
	</div>
	<div class="col-md-12">
		<h3>Emergency Alarm</h3>
		<p>Emergency alarm is a positive choice of many businesses and property owners when it comes to protecting their investments. Very helpful in deter Crime or seek help in case of chain snatching or any medical emergencies. Excellent choice of protecting you Valuables, In case of an attempted burglary in your neighbor hood these system will sound an alarm and help will be summoned. The sound of the alarm often scares off many would-be burglars; but if that does not happen, help will come within minutes of your alarm going off to ensure safety. This is very helpful in life threaten emergencies. One can press the button to call for help.

Many studies have shown that alarm security systems are less likely to be targeted by burglars and other intruders. This means the mere presence of an alarm system is enough in most cases to protect your area or your family from a break-in. And in the event of a home invasion, the system will sound an alarm which will provide you with enough warning to get to a safe location in your property and also notify authorities to dispatch help. </p>
	</div>
	<div class="col-md-4 feature" style="margin-top:20px;">
		<h4>Theft Protection</h4>		
	</div>
	<div class="col-md-4 feature" style="margin-top:20px;">
		<h4>Safe Warnings</h4>		
	</div>
	<div class="col-md-4 feature" style="margin-top:20px;">
		<h4>Security Alarm</h4>	
	</div>	
 </div>
 <hr>
 <div class="container descript" style="background-color:#fff; width:100%; padding:10px 10px; height:auto; color:#aeaeae;">
	<div class="col-md-12">
		<img src="~/Content/images/overview/voltage.png" class="img-responsive" alt="" style="margin:0 auto;">
	</div>
	<div class="col-md-12">
		<h3>High / Low voltage protection:</h3>
		<p>This deals with the protection of electrical power systems from faults through the isolation of faulted parts from the rest of the electrical network. Out devices sense the current or voltage through the bridge and protect your assets. Objective is to keep the power system stable by isolating only the components that are under fault, whilst leaving as much of the network as possible still in operation. It deals with Protective relays to sense the fault and initiate a trip or disconnection, Circuit breakers to open/close the system based on relay.

Automatic operations such as auto system restart and logs the tracing data on the system for post event analysis; subjected to a configured current or voltage parameters that is beyond the specified limitations of the complete unit These are very considerably design for your Safety, Economy and Accuracy. </p>
	</div>
	<div class="col-md-4 feature" style="margin-top:20px;">
		<h4>Automatic operations</h4>		
	</div>
	<div class="col-md-4 feature" style="margin-top:20px;">
		<h4>Economy and Accuracy</h4>		
	</div>
	<div class="col-md-4 feature" style="margin-top:20px;">
		<h4>Protective relays</h4>	
	</div>	
 </div>
 <hr>
 <div class="container descript" style="background-color:#f1f3f3; width:100%; padding:10px 10px; height:auto; color:#aeaeae;">
	<div class="col-md-12">
		<img src="~/Content/images/overview/psensor.png" class="img-responsive" alt="" style="margin:0 auto;">
	</div>
	<div class="col-md-12">
		<h3>Photo Sensor</h3>
		<p>These photocell sensors are installed outside the house to control the on / off timing of the lights that are connected through their circuits. Lights of this nature are usually installed outside the house. So when the sun sets, the photocell sensor will activate the on switch and turns on the light. Likewise, when the sun rises, the photocell sensor will trigger the off switch. These are also identified under many different names such as photocell switch, photocell sensor switch, photocell auto switch, photocell auto light control, light sensor switch, photocell sensor circuit, and dusk-to-dawn photocell sensor.
Extensive mechanism of this technology is very Convenient - no remembers required to switch on off the lights. These sensors will do the job for you automatically. Provides excellent Security - the light turns on by itself when it is dark outside which will be a deterrent for any intending intruders. Saves your money - since the light is only turned on when it is dark; Once there is sufficient light when dawn breaks the light is automatically turned off which saves you from having to pay for the wasted power usage. </p>
	</div>
	<div class="col-md-4 feature" style="margin-top:20px;">
		<h4>Switch Trigger</h4>		
	</div>
	<div class="col-md-4 feature" style="margin-top:20px;">
		<h4>Prevent Waste Power usaage</h4>		
	</div>
	<div class="col-md-4 feature" style="margin-top:20px;">
		<h4>Detects light conditions</h4>	
	</div>	
 </div>
 <hr>
  <div class="container descript" style="background-color:#fff; width:100%; padding:10px 10px; height:auto; color:#aeaeae;">
	<div class="col-md-12">
		<img src="~/Content/images/overview/cooling.png" class="img-responsive" alt="" style="margin:0 auto;">
	</div>
	<div class="col-md-12">
		<h3>Active Cooling</h3>
		<p>Increase the life span of LED device. Active cooling mechanism can boost lumen output LED lighting. These are very much superior to passive cooling system and extend the life in solid state lighting. Thermal dissipation is a key factor that limits the lumen output of an LED light. LED components and the driver electronics still create a considerable amount of heat, If this heat is not dissipated properly, the LEDs quality of light and life expectancy decrease dramatically.

Cost and lumen output are currently the main limitations to the widespread adoption of LED lighting. high-lumen-output LED applications can be achieved with these active cooling which reduces the cost.In order to reach the desired lumen values in a fixed form factor, active cooling may be required to dissipate the heat produced by the LED components. In order to create a viable active cooling solution for high-brightness LEDs. </p>
	</div>
	<div class="col-md-4 feature" style="margin-top:20px;">
		<h4>Active cooling mechanism</h4>		
	</div>
	<div class="col-md-4 feature" style="margin-top:20px;">
		<h4>Increases LED Lifespan</h4>		
	</div>
	<div class="col-md-4 feature" style="margin-top:20px;">
		<h4>High-Lumen Output</h4>	
	</div>	
 </div>
    </div>