﻿@{
    ViewBag.Title = "PrivacyPolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="full_container clayout" style="width:100%; padding:0;">
        <div class="container no-padding">
<div class="col-md-12" style="top:50px;margin-left:10%;margin-bottom:5%; height:60%;width:80%;overflow:hidden;">
		<h3>PRIVACY POLICY</h3>
<p>
        <span> PlmrLightingSolutions.com recognizes the importance of maintaining your privacy. We value your privacy and appreciate your trust in us. This Policy describes how we treat user information we collect on http://www.PlmrLightingSolutions.com and other offline sources. This Privacy Policy applies to current and former visitors to our website and to our online customers. By visiting and/or using our website, you agree to this Privacy Policy.
            </span>
    </p>
    <p>
        <br />
        <span>
        PlmrLightingSolutions.com is a property of Plmr Lighting Solutions Private Limited, an Indian Company registered under the Companies Act, 2013 having its registered office at 11-308, Lakshmi nagar, Palamaner, Chittoor District. A.P- 517408.
       </span></p>
    
    
    <h3>What Type of Information Do We Collect?</h3>

    <p><span>
        <b>Contact information:</b> We might collect your name, email, mobile number, phone number, street, city, state, pincode,  country and ip address.
       </span></p>

    <p><span><b>Payment and billing information:</b> We might collect your billing name, billing address and payment method when you buy products from us. We NEVER collect your credit card number or credit card expiry date or other details pertaining to your credit card on our website. </span>
    <br />
    <b>Information you post:</b> We collect information you post in a public space on our website or on a third-party social media site belonging to PlmrLightingSolutions.com.
        
    <br />
    <b>Demographic information:</b> We may collect demographic information about you, events you like, events you intend to participate in, tickets you buy, or any other information provided by your during the use of our website. We might collect this as a part of a survey also.

    <br />
    <b>Other information:</b> If you use our website, we may collect information about your IP address and the browser you're using. We might look at what site you came from, duration of time spent on our website, pages accessed or what site you visit when you leave us. We might also collect the type of mobile device you are using, or the version of the operating system your computer or device is running. 
        </p>
        
    <p>
         <h3>How Do We collect Your Personal Information?</h3>
        We collect information directly from you. We collect information directly from you when you register for an event or buy our products. We also collect information if you post a comment on our websites or ask us a question through phone or email.
        <br /> <br />
        We collect information from you passively. We use tracking tools like Google Analytics, Google Webmaster, browser cookies and web beacons for collecting information about your usage of our website. 
        <br /><br />
        We get information about you from third parties. For example, if you use an integrated social media feature on our websites. The third-party social media site will give us certain information about you. This could include your name and email address.
    </p>
    <p>
        <h3>How Do We Use Your Personal Information?</h3>
        <b>We use information to contact you:</b> We might use the information you provide to contact you for confirmation of a purchase on our website or for other promotional purposes.<br />
        <b>We use information to respond to your requests or questions:</b> We might use your information to confirm your registration for an event, offers or contest. <br />
        <b>We use information to improve our products and services:</b> We might use your information to customize your experience with us. This could include displaying content based upon your preferences.<br />
<b>We use information to look at site trends and customer interests:</b> We may use your information to make our website and products better. We may combine information we get from you with information about you we get from third parties.<br />
        <b>We use information for security purposes:</b> We may use information to protect our company, our customers, or our websites.<br />
        <b>We use information for marketing purposes:</b> We might send you information about special promotions or offers. We might also tell you about new features or products. These might be our own offers or products, or third-party offers or products we think you might find interesting. Or, for example, if you buy tickets from us we'll enroll you in our newsletter. <br />
        <b>We use information to send you transactional communications:</b> We might send you emails or SMS about your account, tracking order status, offers or promotions.<br />
        <br />
        We use information as otherwise permitted by law.

    </p>

    <p>
        <h3>How Do We Share Your Personal Information with third-parties</h3>
        <b>We will share information with third parties who perform services on our behalf.</b> We share information with vendors who help us manage our online registration process or payment processors or transactional message processors. Some vendors may be located outside of India.<br />
        <b>We will share information with the event organizers.</b> We share your information with event organizers and other parties responsible for fulfilling the purchase obligation. The event organizers and other parties may use the information we give them as described in their privacy policies.<br />
        <b>We will share information with our business partners.</b> This includes a third party who provide or sponsor an event, or who operates a venue where we hold events. Our partners use the information we give them as described in their privacy policies.<br />
            <b>We may share information if we think we have to in order to comply with the law or to protect ourselves.</b> We will share information to respond to a court order or subpoena. We may also share it if a government agency or investigatory body requests. Or, we might also share information when we are investigating potential fraud. <br />
    <b>We may share information with any successor to all or part of our business.</b> For example, if part of our business is sold we may give our customer list as part of that transaction.<br />
<b>We may share your information for reasons not described in this policy.</b> We will tell you before we do this.
    </p>
    <p>
        <h3>How to Email Opt-Out</h3>        
<b>You can opt out of receiving our marketing emails.</b> To stop receiving our promotional emails, please email unsubscriber@PlmrLightingSolutions.com. It may take about 2 days to process your request. Even if you opt out of getting marketing messages, we will still be sending you transactional messages through email and SMS about your purchases. <br />

    </p>
    <p>
        <h3>Third party sites </h3>
If you click on one of the links to third party websites, you may be taken to websites we do not control. This policy does not apply to the privacy practices of those websites. Read the privacy policy of other websites carefully. We are not responsible for these third party sites.<br />

    </p>

    <p>
        <h3>Who Can I Contact About the Privacy Policy?</h3>        
 In accordance with Information Technology Act 2000 and rules made there under, If you have any questions about this Policy or other privacy concerns, you can also email us at info@PlmrLightingSolutions.com with the subject "Privacy Policy"<br />

    </p>

    <p>
        <h3>How Will I Know if this Policy Changes?</h3> 
This Privacy Policy was last updated on 11.08.2017. From time to time we may change our privacy practices. We will notify you of any material changes to this policy as required by law. We will also post an updated copy on our website. Please check our site periodically for changes.
<br />
        <b>Jurisdiction</b><br />
If you choose to visit the website, your visit and any dispute over privacy is subject to this Policy and the website's terms of use. In addition to the foregoing, any disputes arising under this Policy shall be governed by the laws of India.         
                
    </p>
    </div>
            </div>
    </div>