﻿@{
    ViewBag.Title = "SL0930";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div ng-app="AllProductsModule" ng-controller="AllProductsController">
 <div class="container products">
<div class="col-md-6" style="padding:0;" >
		 <div id="jssor_1" style="position:relative;margin:0 auto;top:0px;left:0px;width:600px;height:400px;overflow:hidden;visibility:hidden;">
       
        <div data-u="slides" style="cursor:default;position:relative;top:0px;left:0px;width:600px;height:300px;overflow:hidden;">
            <div>
                <img data-u="image" class="display_image" src="/Content/images/product_images/SL0930/SL0930_1.jpg" onclick="openModal();currentSlide(1)" />
                <div data-u="thumb">
                    <img src="/Content/images/product_images/SL0930/SL0930_1.jpg" />             
                </div>
            </div>
           
            <div>
                <img data-u="image" class="display_image" src="/Content/images/product_images/SL0930/SL0930_2.jpg"  onclick="openModal();currentSlide(2)"/>
                <div data-u="thumb">
                    <img src="/Content/images/product_images/SL0930/SL0930_2.jpg"/>                  
                </div>
            </div>
			
            <div>
                <img data-u="image" class="display_image" src="/Content/images/product_images/SL0930/SL0930_3.jpg" onclick="openModal();currentSlide(3)"/>
                <div data-u="thumb">
                    <img src="/Content/images/product_images/SL0930/SL0930_3.jpg" />                  
                </div>
            </div>
			
			<div>
                <img data-u="image" class="display_image" src="/Content/images/product_images/SL0930/SL0930_4.jpg" onclick="openModal();currentSlide(4)"/>
                <div data-u="thumb">
                    <img src="/Content/images/product_images/SL0930/SL0930_4.jpg" />                  
                </div>
            </div>
			<div>
                <img data-u="image" class="display_image" src="/Content/images/product_images/SL0930/SL0930_5.jpg" onclick="openModal();currentSlide(5)"/>
                <div data-u="thumb">
                    <img src="/Content/images/product_images/SL0930/SL0930_5.jpg" />                  
                </div>
            </div>
			<div>
                <img data-u="image" class="display_image" src="/Content/images/product_images/SL0930/SL0930_6.jpg" onclick="openModal();currentSlide(6)"/>
                <div data-u="thumb">
                    <img src="/Content/images/product_images/SL0930/SL0930_6.jpg" />                  
                </div>
            </div>	
        </div>
        <!-- Thumbnail Navigator -->
        <div data-u="thumbnavigator" class="jssort16" style="position:absolute;left:0px;bottom:0px;width:600px;height:100px;" data-autocenter="1">
            <!-- Thumbnail Item Skin Begin -->
            <div data-u="slides" style="cursor: default;">
                <div data-u="prototype" class="p">
                    <div data-u="thumbnailtemplate" class="t"></div>
                </div>
            </div>
            <!-- Thumbnail Item Skin End -->
        </div>     
    </div>
	</div>
<div class="col-md-6" ng-repeat="vItem in plmrStreeLightsSL0930">
<p>{{vItem.Subtitle}}</p>
<h3>{{vItem.header}}</h3>
<p>{{vItem.Description }} </p>
    <h4>Highlights</h4>
<div ng-repeat="hig in vItem.Highlights">
        <p><i class="{{hig.classType}}" aria-hidden="true"></i> {{hig.HighlightDesc}}</p>
        </div>
</div>	
 </div>
 
<div class="container" style=""  ng-repeat="vItem1 in plmrStreeLightsSL0930">
    	<h3>SPECIFICATIONS</h3>
<div class="col-md-12" style="background-color:#fff; margin-bottom:25px;">
	<hr>
		<div class="col-md-6">
			<table>
			<tr ng-repeat="spc in vItem1.Specifications1">
				<th>{{spc.SpecKey}}</th>
				<td>{{spc.SpecVal}}</td>  
			</tr>
			</table>
	</div>
	<div class="col-md-6">
			<table>
			<tr ng-repeat="spc1 in vItem1.Specifications2">
				<th>{{spc1.SpecKey}}</th>
				<td>{{spc1.SpecVal}}</td>  
			</tr>					
			</table>
	</div>
</div>
</div> 

 <div id="myModal" class="modal">
  <span class="close cursor" onclick="closeModal()">&times;</span>
  <div class="modal-content">

    <div class="mySlides">
      <div class="numbertext">1 / 6</div>
      <img src="/Content/images/product_images/SL0930/SL0930_1.jpg" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">2 / 6</div>
      <img src="/Content/images/product_images/SL0930/SL0930_2.jpg" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">3 / 6</div>
      <img src="/Content/images/product_images/SL0930/SL0930_3.jpg" style="width:100%">
    </div>
    
    <div class="mySlides">
      <div class="numbertext">4 / 6</div>
      <img src="/Content/images/product_images/SL0930/SL0930_4.jpg" style="width:100%">
    </div>
	
	<div class="mySlides">
      <div class="numbertext">5 / 6</div>
      <img src="/Content/images/product_images/SL0930/SL0930_5.jpg" style="width:100%">
    </div>
	
	<div class="mySlides">
      <div class="numbertext">6 / 6</div>
      <img src="/Content/images/product_images/SL0930/SL0930_6.jpg" style="width:100%">
    </div>
    
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a> 
  </div>
 </div>
	<script type="text/javascript">jssor_1_slider_init();</script>