@charset "utf-8";
/* CSS Document */

/*==================================compare-product============================*/
.compare-contain{
	float:left;
	position:relative;
	width:100%;
	height:auto;
	
	background-color:#f6f6f6;
	padding-bottom:50px;
	padding-top:150px;
}
.compare-row{
	width:96%;
	margin-left:2%;
	margin-top:1%;
	margin-bottom:1%;
	height:500px;
}

.heading{
	margin-left:1%;
	padding-left:10px;
	margin-bottom:20px;
	color:#4ab8ca;
	border-left:4px solid #4ab8ca;
	font-family:Tahoma, Geneva, sans-serif;
}
.heading p{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size:13px;
	color: #A7A7A7;
}	
.compare-column{
	opacity:1;
	transition:all 2s;
	float:left;
	padding:1%;
	width:23%;
	height:auto;
	transform:translateY(0px);
}
.product-details{
	width:100%;
	height:auto;
	transition:all .3s;
	
}
.product-details:hover .product-led{
	background-position:center;
	background-repeat:no-repeat;
	background-image: url(../images/products/led-on.jpg);
}
.product-details:hover{
	box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.09);
}
.product-led{
	width:100%;
	height:200px;
	background-image: url(../images/products/led-off.jpg);
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	transition:all .3s;
}

.product-table table {
	color:black;
    border-collapse: collapse;
    width:100%;
	background-color:#ceeaef;
}

.product-table th, td {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	width:100%;
    text-align: center;
    padding: 15px;
}

.product-table tr:nth-child(even){background-color: #f2fafb;}

.product-table th {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    background-color: #4ab8ca;
    color: white;
}
#values th, td{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	width:100%;
    text-align: center;
    padding: 15px;
	}

/*@media only screen and (max-width: 480px) {
    .compare-column{
	padding:6% 0% 6% 5%;
	width:90%;
	height:auto;
}
}
*/
.product-details:hover .product-cfl{
	background-position:center;
	background-repeat:no-repeat;
	background-image: url(../images/products/cfl-on.jpg);
}

.product-cfl{
	width:100%;
	height:200px;
	background-image: url(../images/products/cfl-off.jpg);
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	transition:all .3s;
}

.product-details:hover .product-ins{
	background-position:center;
	background-repeat:no-repeat;
	background-image: url(../images/products/ins-on.jpg);
}

.product-ins{
	width:100%;
	height:200px;
	background-image: url(../images/products/ins-off.jpg);
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	transition:all .3s;
}
.product-prop{
	width:100%;
	height:250px;
	}
	.product-prop h1{
		margin:0;
		text-align:center;
		color: #6B6B6B;
		font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
		padding-top:80px;
		font-size:23px;
	}
	.product-prop p{
		text-align:center;
		color: #6B6B6B;
		font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;}
#values tr:nth-child(even){background-color:  #ceeaef;}

#values{
	background-color:  #f2fafb;
	}