@charset "utf-8";
/* CSS Document */


/*=================Header_code===============*/
body{
	margin:0;
	padding:0;	
	}
	
header{
	position:fixed;
	float:left;
	width:100%;
	height:100px;
	z-index:999999;
	background-color: #4ab8ca;
	}
	.contact_det{
		float:left;
		width:100%;
		height:40px;
	}
	.contact_det h5{
		float:right;
		color:white;
		margin-right:20px;
		font-family:'Julius Sans One', sans-serif;
	}
	.responsiv_nav{
		background-color:#cde478;
	}
nav{
	float:left;
	display:block;
	width:100%;
	height:auto;
	background-color: #3B3B3B;
	}

.toggle{
	cursor:pointer;
	display:none;
}
.nav_ext img{
	position:relative;
	width:100%;
}
.logo{
	z-index:9999;
	float:left;
	margin-top:-30px;	
	width:20%;
	margin-left:3%;
}
.logo img{
	width:70%;
}
#menu ul {
	width:100%;
	float:left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	background-color: #3B3B3B;
}

#menu ul li {
	width:12.5%;
    float: left;
	height:90px;
}
#menu ul li i{
    padding-right:8px;
	padding-top:5px;
}
#menu li a {
	height:100%;
	font-size:12px;
    display: block;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    text-align: center;
    padding:16px 18px;
    text-decoration: none;
	color: #BCBCBC;
	border-bottom:4px solid #3B3B3B;
	-webkit-transition: background .3s ease-out;  
    -moz-transition: background .3s ease-out;  
    -o-transition: background .3s ease-out;  
    transition: background .3s ease-out;  
}
#menu li a:hover {	
	border-bottom:4px solid white;
	background: #4ab8ca;
	background: -webkit-linear-gradient(90deg, #4ab8ca, #a5e8d7); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(90deg, #4ab8ca, #a5e8d7); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(90deg, #4ab8ca, #a5e8d7); /* For Firefox 3.6 to 15 */
    background: linear-gradient(90deg, #4ab8ca, #a5e8d7); /* Standard syntax (must be last) */
	color:white;
}


/*=================footer_code===============*/

footer{
	float:left;
	position:relative;
	width:100%;
	background-color:hsla(204,4%,22%,1.00);
height:auto;

}
.footer-container{
	margin-top:20px;
	width:100%;
	height:auto;
}
.footer-row{
	height:auto;
	width:96%;
	margin-right:2%;
	margin-left:2%;
	
}
.footer-column{
	float:left;
	width:25%;
	height:auto;
}
.column-content{
	height:auto;
	margin-left:25px;
	margin-right:25px;
}
#footer_logo img{
	width:100%;
	}

.column-content p{
	color: #878787;
	margin:0 0 10px;
	text-align:justified;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:11px;
}
.footer-column .links{
width:60%;
margin-left:20%;
}
.footer-column .links h3{
	color:white;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:18px;
	
}

.footer-column .links ul{
	margin:0;
	padding:0;
	list-style-type:none;
}
.footer-column .links ul li{
	padding:5px 10px 5px 10px;
	border-bottom:1px solid #585858;
	}
.footer-column .links li a{
	text-decoration:none;
	color: #878787;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:12px;
	
}
.footer-column .links li a:hover{
	color:#4ab8ca}
.footer-column input{
	width:85%;
	padding:8px;
	background-color:hsla(204,4%,22%,1.00);
	}
	.footer-column form{
		width:100%;}
	.footer-column form span{
		color:white;
		font-family:'Julius Sans One', sans-serif;
		font-size:11px;}
.footer-column button {
	width:100%;
    background-color:#4ab8ca;
    border: none;
    color: white;
    padding:12px;
	margin-top:5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
	transition:all .3s;
}
.footer-column button:hover{
	background-color:white;
	color:#4ab8ca;
	
	}
	.footer-bottom{
		
		float:left;
		position:relative;
		width:100%;
		background-color:GrayText;
		height:auto;
	}
	.cards{
		width:25%;
		float:left;
		padding-top:20px;
		padding-left:4%;
		opacity:.7;}
		.cards img{
			width:70%;
			}
	.copyright{
		width:65%;
		float:right;
		padding:1%;
		}
		.copyright p{
			float:right;
			color:white;
			font-family:'Julius Sans One', sans-serif;
			font-size:12px;
		}
	.copyright strong a{
		color:white;
		text-decoration:none;
	}
	.copyright strong a:hover{
		color:#4ab8ca;
		}
	
	#mask-dialogBox{
				width:50%;
				margin-left:25%;
				display:none;
			}
