
.products{
	margin-top:147px;
	padding-bottom:20px;
}
.product_layout{
	background-color:#ebeeed;
	text-align:center;
	margin-top:20px;
	transition:all .3s;
}

.product_layout a{
	text-align:center;
	text-decoration:none;
	
}
.product_layout:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
}
.details{
	padding-top:20px;
}
.details h3,p{
	margin:0;
	text-decoration:none;
}
.product_layout button{
	border:none;
	outline:none;
	background-color:#fff;
	border-radius:10%;
	padding:10px;
	margin-bottom:10px;
}





/*Product Display Page----*/

        .jssorb03 {
            position: absolute;
        }
        .jssorb03 div, .jssorb03 div:hover, .jssorb03 .av {
            position: absolute;
            /* size of bullet elment */
            width: 21px;
            height: 21px;
            text-align: center;
            line-height: 21px;
            color: white;
            font-size: 12px;
            background: url('img/b03.png') no-repeat;
            overflow: hidden;
            cursor: pointer;
        }
        .jssorb03 div {
			background-position: -5px -4px;
			}
        .jssorb03 div:hover, .jssorb03 .av:hover { 
		background-position: -35px -4px; 
		}
        .jssorb03 .av { 
		background-position: -65px -4px;
		}
        .jssorb03 .dn, .jssorb03 .dn:hover {
			background-position: -95px -4px; 
			}
		.jssort16 .p {    
		position: absolute;    top: 0;    left: 0;    width: 200px;    height: 100px;
		}
		.jssort16 .t {    
		position: absolute;    top: 0;    left: 0;    width: 200px;    height: 100px;    border: none;
		}
		.jssort16 .p img {   
		position: absolute;    top: 0;    left: 0;    width: 200px;    height: 100px;    filter: alpha(opacity=55);    opacity: .55;    transition: opacity .6s;    -moz-transition: opacity .6s;    -webkit-transition: opacity .6s;    -o-transition: opacity .6s;
		}
		.jssort16 .pav img, .jssort16 .pav:hover img, .jssort16 .p:hover img {    
		filter: alpha(opacity=100);    opacity: 1;    transition: none;    -moz-transition: none;    -webkit-transition: none;    -o-transition: none;
		}
		.jssort16 .pav:hover img, .jssort16 .p:hover img {    
		filter: alpha(opacity=70);    opacity: .7;
		}
		.jssort16 .title, .jssort16 .title_back {  
		position: absolute;    bottom: 0px;    left: 0px;    width: 200px;    height: 30px;    line-height: 30px;    text-align: center;    color: #000;    font-size: 20px;
		}
		.jssort16 .title_back {   
		background-color: #fff;    filter: alpha(opacity=50);    opacity: .5;
		}
		.jssort16 .pav .title_back {    
		background-color: #000;    filter: alpha(opacity=50);    opacity: .5;
		}
		.jssort16 .pav .title {    
		color: #fff;
		}
		.jssort16 .p.pav:hover .title_back, .jssort16 .p:hover .title_back {   
		filter: alpha(opacity=40);    opacity: .4;
		}
		.jssort16 .p.pdn img {   
		filter: alpha(opacity=100);    opacity: 1;
		}
		.display_image{
			cursor:pointer;
		}
		
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
	width:50%;
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
}
tr:hover{background-color:#f5f5f5}


/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  z-index:99999;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 80%;
  max-width: 90%;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
  opacity:.8;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}



/*cOMPARISON Page----*/
.comparison_layout{
	margin-top:141px;
	margin-bottom:70px;
	}
.compare-column{
	opacity:1;
	transition:all 2s;
	float:left;
	padding:1%;
	width:100%;
	height:auto;
	margin-top:20px;
}
.product-details{
	width:100%;
	height:auto;
	transition:all .3s;
	
}

.product-details:hover{
	box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.09);
}
.product-led{
	width:100%;
	height:200px;
	background-image: url(../images/products/led-off.jpg);
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	transition:all .3s;
}
.product-details:hover .product-led{
	background-position:center;
	background-repeat:no-repeat;
	background-image: url(../images/products/led-on.jpg);
}
.product-ins{
	width:100%;
	height:200px;
	background-image: url(../images/products/ins-off.jpg);
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	transition:all .3s;
}
.product-details:hover .product-ins{
	background-position:center;
	background-repeat:no-repeat;
	background-image: url(../images/products/ins-on.jpg);
}



.product-table table {
	color:black;
    border-collapse: collapse;
    width:100%;
	background-color:#ceeaef;
}

.product-table th, td { 	
    padding: 10px;
}
.product-table h3{
	text-align:center;
	background-color:#f2fafb;
	margin:0;
	padding:10px;
	}
.product-table tr:nth-child(even){background-color: #f2fafb;}


#values th, td{
padding: 10px;
	}

/*@media only screen and (max-width: 480px) {
    .compare-column{
	padding:6% 0% 6% 5%;
	width:90%;
	height:auto;
}
}
*/


.product-details:hover .product-cfl{
	background-position:center;
	background-repeat:no-repeat;
	background-image: url(../images/products/cfl-on.jpg);
}

.product-cfl{
	width:100%;
	height:200px;
	background-image: url(../images/products/cfl-off.jpg);
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	transition:all .3s;
}


#values tr:nth-child(even){background-color:  #ceeaef;}

#values{
	background-color:  #f2fafb;
	}


/*Overview Page----*/
.page_heading{
	margin-top:161px;
}
.over_layout{
	margin-top:150px;
	padding:0;
	width:100%;	
	}
	
	.feature h4{
		text-align:center;
	}
	.feature h4:before {
    content: "";
    display: block;
    background-image:url('/images/account_icon.png');
    width: 20px;
    height: 20px;
    float: left;
    margin: 0 6px 0 0;
}
.descript h3:after {
    display: inline-block;
    margin:8px 5px;
    height: 1px;
    content: " ";
    text-shadow: none;
    background-color: #999;
    width: 80%;
}
	
	
	
	
	
	
	/* Track Page*/
	
.wraper{
	position:relative;
	float:left;
	width:100%;
	height:auto;
	margin-top:110px;}
.track_map{
	width:100%;
	float:left;
	height:200px;
	overflow:hidden;
	}
	.pointer{
		position:absolute;
		z-index:999;
		margin-top:6%;
		margin-left:20%;
		-webkit-animation: mymove1 5s infinite; /* Chrome, Safari, Opera */
    animation: mymove1 10s infinite;
		}
		@-webkit-keyframes mymove1 {
    0%   {top: 6%;}
    25%  {top: 0%;}
    75%  {top: 10%}
    100% {top: 6%;}
		}
.map img{
	 -webkit-animation: mymove 10s;  /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite;  /* Chrome, Safari, Opera */
    animation: mymove 20s;
    animation-iteration-count: infinite;
}
@-webkit-keyframes mymove {
    from {margin-left: 0px;}
    to {margin-left: -400px;}
}
.track_icon{
	width:100%;
	height:200px;
	float:left;
	position:relative;
	text-align:center;
	padding:16px 0px;
	font-family: 'Josefin Sans', sans-serif;
	color:hsla(0,1%,62%,1.00);
	}	
	
.form-group{
	text-align:center;
}	
.form-group input{
	padding:8px 15px;
	border:1px solid #c4c4c4;
	width:250px;
	margin:5px;
	
}
.form-group button{
	border:none;
	outline:none;
	background-color:#4ab8ca;
	padding:9px 20px;
	color:#fff;
	margin:5px;
}
.form-group select{
	padding:8px 15px;
	border:1px solid #c4c4c4;
	width:250px;
	margin:5px;
}
.form-group textarea{
	padding:8px 15px;
	border:1px solid #c4c4c4;
	width:250px;
	margin:5px;
}
.col-centered{
	margin:0 auto;
	float:none;
}	

	/* About Us Page*/
	.about{
		margin-top:150px;
		padding:0;
	}
	.about h2{
		text-align:center;
	}
	.social-media{
		text-align:center;
		padding:15px 0px;
		background-color:#eaeded;
		margin-top:80px;
	}
	.social-media ul{
		list-style-type:none;
		padding:0;
		margin:0;
	}
	.social-media ul li{
		display:inline-block;
		padding:0 8px;
	}
	.social-media ul li a i{
		color:#4ab8ca;
		border:2px solid #4ab8ca;
		border-radius:360px;
		text-align:center;
		padding:15px;
		width:50px;
		font-size:18px;
	}
	
	
	
	/*contact Us page*/
	.clayout{
		margin-top:130px;
	}
	.contact_box{
		margin:50px 0px;
		background: -webkit-linear-gradient(90deg, #4ab8ca, #a5e8d7); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(90deg, #4ab8ca, #a5e8d7); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(90deg, #4ab8ca, #a5e8d7); /* For Firefox 3.6 to 15 */
    background: linear-gradient(90deg, #4ab8ca, #a5e8d7); /* Standard syntax (must be last) */
	}
	.contact_box .map{
		padding:0;
	}
	
	
	
	.adbox{
		width:20%; 
		float:left; 
		padding:10px;
	}
	.adcard{
		background-color:#fff;
		padding:15px;
		text-align:center;
		height:300px;
		cursor:pointer;
	}
	.adcard:hover{
		background-color:#4ab8ca;
		color:#fff;
	}

	
	
	
@media(max-width:767px) {
	.products{
		margin-top:70px;
	}
	.wraper{
		margin-top:60px;
	}
	.comparison_layout{
		margin-top:70px;
		margin-bottom:70px;
	}
	.page_heading{
	margin-top:70px;
}
.about{
	margin-top:80px;
}
.track_map{
	height:80px;
}
.clayout{
		margin-top:60px;
	}
	.locations td{
		
	}
	.adbox{
		width:50%; 
		float:left; 
		padding:10px;
	}

}

@media(max-width:480px) {
	
	
	.adbox{
		width:100%; 
		float:left; 
		padding:10px;
	}
	
}