@charset "utf-8";
/* CSS Document */

.wrap_container{
	width:90%;
	float:left;
	margin-top:280px;
	height:400px;
	margin-left:5%;
	
}





.cat1{
	
	float:left;
	width:50%;
	height:400px;
	
	overflow:hidden;
}
.shade{
	position:absolute;
	width:100%;
	height:100%;
	background: #4ab8ca;
	background: -webkit-linear-gradient(90deg, #4ab8ca, #a5e8d7); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(90deg, #4ab8ca, #a5e8d7); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(90deg, #4ab8ca, #a5e8d7); /* For Firefox 3.6 to 15 */
    background: linear-gradient(90deg, #4ab8ca, #a5e8d7); /* Standard syntax (must be last) */
	z-index:999;
	opacity:0;
	transition:all .3s;}
	.cat1 a:hover .shade{
		opacity:.5;
		border-bottom:20px solid white;
	}
.cat_name{
	position:relative;
	width:96%;
	margin-left:2%;
	background-color:white;
	height:380px;
	margin-top:10px;
	overflow:hidden;
	}
.bg_image{
	width:100%;
	height:100%;
	-ms-transform: scale(1.02,1.02); /* IE 9 */
    -webkit-transform: scale(1.02,1.02); /* Safari */
    transform: scale(1.02,1.02); /* Standard syntax */
	transition:all .3s;
}
.cat1 a:hover .bg_image{
	-ms-transform: scale(1,1); /* IE 9 */
    -webkit-transform: scale(1,1); /* Safari */
    transform: scale(1,1); /* Standard syntax */
}
.bg_image img{
	width:100%;
	height:100%;
}
.cat_text{
	position:absolute;
	color:white;
	z-index:99999;
	width:100%;
	margin-left:0%;
	margin-top:5%;
	background-color: hsla(0,0%,0%,0.10);
	opacity:1;
	transition:all .4s;
	}
	.cat1 a:hover .cat_text{
		
		border-left:30px solid white;
	}
	.cat_text h4{
		margin:0;
		padding:10px;
		font-size:20px;
		width:100%;
		font-family: 'Josefin Sans', sans-serif;}
	.cat_text p{
		margin:0;
		padding:10px;
		font-family: 'Josefin Sans', sans-serif;}

		
.cat2{
	float:left;
	width:100%;
	height:200px;
	}
	
	.cat_name2{
	width:96%;
	margin-left:2%;
	background-color:white;
	height:180px;
	overflow:hidden;
	
	}
	.cat_name2 .shade{
	position:absolute;
	width:100%;
	height:100%;
	background: #4ab8ca;
	background: -webkit-linear-gradient(90deg, #4ab8ca, #a5e8d7); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(90deg, #4ab8ca, #a5e8d7); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(90deg, #4ab8ca, #a5e8d7); /* For Firefox 3.6 to 15 */
    background: linear-gradient(90deg, #4ab8ca, #a5e8d7); /* Standard syntax (must be last) */
	z-index:999;
	opacity:0;
	transition:all .3s;}
	.cat2 a:hover .shade{
		opacity:.3;
		border-bottom:20px solid white;}
	.cat_name2 .bg_image{
	width:90%;
	height:180px;
	-ms-transform: scale(1.02,1.02); /* IE 9 */
    -webkit-transform: scale(1.02,1.02); /* Safari */
    transform: scale(1.02,1.02); /* Standard syntax */
	transition:all .3s;
}
.cat2 a:hover .bg_image{
	-ms-transform: scale(1,1); /* IE 9 */
    -webkit-transform: scale(1,1); /* Safari */
    transform: scale(1,1); /* Standard syntax */
}
.cat2 .bg_image img{
	width:100%;
	height:100%;
}
	
 .cat_name2 .cat_text{
	position:absolute;
	color:white;
	z-index:99999;
	width:100%;
	margin-left:0%;
	margin-top:5%;
	background-color: hsla(0,0%,0%,0.10);
	opacity:1;
	transition:all .4s;
	}
	.cat_name2 a:hover .cat_text{
		
		border-left:30px solid white;
	}
	.cat_name2 .cat_text h4{
		margin:0;
		padding:10px;
		font-size:20px;
		width:100%;
		font-family: 'Josefin Sans', sans-serif;}
	.cat_name2 .cat_text p{
		margin:0;
		padding:10px;
		font-family: 'Josefin Sans', sans-serif;}
		
	
	
		
		
.cat3{
	float:left;
	width:50%;
	height:200px;
	}
	
	.cat_name3{
	width:96%;
	margin-left:2%;
	background-color:white;
	height:190px;
	overflow:hidden;
	
	}
	.cat_name3 .shade{
	position:absolute;
	width:100%;
	height:100%;
	background: #4ab8ca;
	background: -webkit-linear-gradient(90deg, #4ab8ca, #a5e8d7); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(90deg, #4ab8ca, #a5e8d7); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(90deg, #4ab8ca, #a5e8d7); /* For Firefox 3.6 to 15 */
    background: linear-gradient(90deg, #4ab8ca, #a5e8d7); /* Standard syntax (must be last) */
	z-index:999;
	opacity:0;
	transition:all .3s;}
	.cat3 a:hover .shade{
		opacity:.3;
		border-bottom:20px solid white;}
	.cat_name3 .bg_image{
	width:100%;
	height:180px;
	-ms-transform: scale(1.02,1.02); /* IE 9 */
    -webkit-transform: scale(1.02,1.02); /* Safari */
    transform: scale(1.02,1.02); /* Standard syntax */
	transition:all .3s;
}
.cat3 a:hover .bg_image{
	-ms-transform: scale(1,1); /* IE 9 */
    -webkit-transform: scale(1,1); /* Safari */
    transform: scale(1,1); /* Standard syntax */
}
.cat3 .bg_image img{
	width:100%;
	height:100%;
}
	
.cat_name3 .cat_text{
	position:absolute;
	color:white;
	z-index:99999;
	width:100%;
	margin-left:0%;
	margin-top:5%;
	background-color: hsla(0,0%,0%,0.10);
	opacity:1;
	transition:all .4s;
	}
	.cat_name3 a:hover .cat_text{
		
		border-left:30px solid white;
	}
	.cat_name3 .cat_text h4{
		margin:0;
		padding:10px;
		font-size:20px;
		width:100%;
		font-family: 'Josefin Sans', sans-serif;}
	.cat_name3 .cat_text p{
		margin:0;
		padding:10px;
		font-family: 'Josefin Sans', sans-serif;}
		
		
		
.more_cat{
	float:left;
	position:relative;
	width:100%;
	background-color: hsla(0,0%,97%,1.00);
	height:200px}
	.categ{
		float:left;
		width:25%;
		height:200px;
		text-align:center;
		color:hsla(0,0%,65%,1.00);
		transition:all .3s;
		
		}
		.categ a img{
			width:60%;
			
		}
		.categ p{
			font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
			}
			.categ:hover{
				border-bottom:3px solid hsla(190,74%,41%,1.00);
			}
		
	.preview{
		position:relative;
		float:left;
		width:100%;
		height:500px;
		}	
	.left_text{
		color:#878787;
		margin-top:10%;
		float:left;
		width:25%;
	}	
	.text_grid{
		padding:5% 0%;
		width:60%;
		margin-left:25%;
		opacity:0;
		transition:all .9s;
	}
	.text_grid h4,p{
		margin:0;
		padding-top:10px;
		font-family: 'Josefin Sans', sans-serif;
	}
	.text_grid p{
		font-size:13px;
	}
	.text_grid h4{
		font-size:15px;
	}
	#slider {
		margin-top:10%;
	width:50%;
	float:left;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  width:100%;
  height: 200px;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 500px;
  height: 300px;
  background: #ccc;
  text-align: center;
  line-height: 300px;
}

a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
	background-color:#4ab8ca;
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;
}