

html, body {
	width:100%;
	margin:0;
	padding:0;
	font-family: 'Titillium Web', sans-serif;
}

/* ------------------------------Header Part------------------------------ */
.navbar-header{
	background-color:#4ab8ca;
	float:none;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
	background-color:#4ab8ca;
}
.navbar-header button{
	background-color:none;
	border:none;
	color:#fff;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
	background-color:none;
	border:none;
}
.navbar-default .navbar-toggle .icon-bar{
	background-color:#fff;
}
#menu ul {
	width:100%;
	float:left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	background-color: #3B3B3B;
}
#menu ul li {
	width:12.5%;
    float: left;
	height:auto;
}
#menu ul li i{
 
	
}
#menu li a {
	height:100%;
	font-size:12px;
    display: block;
	
    text-align: center;
    padding:16px 18px;
    text-decoration: none;
	color: #BCBCBC;
	-webkit-transition: background .3s ease-out;  
    -moz-transition: background .3s ease-out;  
    -o-transition: background .3s ease-out;  
    transition: background .3s ease-out;  
}
#menu li a:hover {	
	background: #4ab8ca;
	background: -webkit-linear-gradient(90deg, #4ab8ca, #a5e8d7); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(90deg, #4ab8ca, #a5e8d7); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(90deg, #4ab8ca, #a5e8d7); /* For Firefox 3.6 to 15 */
    background: linear-gradient(90deg, #4ab8ca, #a5e8d7); /* Standard syntax (must be last) */
	color:white;
}
.navbar-collapse{
	padding:0;
}
.navbar-header .navbar-toggle{
	background:none;
}
.navbar-header .navbar-toggle:focus, .navbar-header .navbar-toggle:hover {
	background:none;
}
.navbar-brand {
	width:350px;
	height:auto;
}
.navbar-brand img {
	width:50%;
}

/* --------------------------------- Slider Styles-------------------------------- */
.slider{
	padding:0;
	width:100%;
}
#wrapper {
  padding:0px;
  margin-top:130px;
  }
  
  .callbacks_container {
  position: relative;
  float: left;
  width: 100%;
  }

.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.callbacks li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  }

.callbacks img {
  display: block;
  position: relative;
  z-index: 1;
  height: auto;
  width: 100%;
  border: 0;
  }

.callbacks .caption {
  display: block;
  position: absolute;
  z-index: 2;
  font-size: 20px;
  text-shadow: none;
  color: #fff;
  background: #000;
  background: rgba(0,0,0, .8);
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px 20px;
  margin: 0;
  max-width: none;
  }

.callbacks_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 52%;
  left: 0;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background: #4ab8ca;
  margin-top: -45px;
  }

.callbacks_nav:active {
  opacity: 1.0;
  }

.callbacks_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
  }



  
  /* --------------------------------- About_Layout-------------------------------- */
  .about_layout{
	  background-color:#f5f6f6; 
	  padding:20px 150px; 
	  width:100%;
  }
  
.info_title{
	
	
}

.info_title h2{
	text-align:center;
	
	color:#aeaeae;
	margin-top:40px;
	font-size:26px;
	}
.info_title p{
		font-size:16px;
		color:#8F8F8F;
	
		text-align:center;
		padding-bottom:3%;
	}
	
.wrap_box{
	transition:all .2s;
	float:left;
	width:100%;
	height:auto;
	background-color:#fff;
	margin-bottom:5%;

	}
	.wrap_box img{
		border-bottom:1px solid #4ab8ca;
		width:100%;}
	.wrap_box h4{
				
		
		text-decoration:none;
		color:#434343;
		text-align:center;
		}
	.wrap_box p{
				
		font-size:9px;
		color:#B3B3B3;
		
		text-decoration:none;		
		text-align:center;}
	.wrap_box:hover{
		background-color:#4ab8ca;			
		color:white;}	
	.wrap_box:hover h4{
		color:white;}
	.wrap_box:hover p{
		color:white;}	

footer{
	position:relative;
	
	padding:8px 0px; 
	background-color:#3B3B3B; 
	width:100%;
}
.payment a{
	text-align:left;
	width:100%;
}
.payment img{
	padding:3px;
}
	.copyright{
		text-align:center;
		float:right;
		padding-top:10px;
		}
		.copyright p{
			float:right;
			color:white;
			
		}
	.copyright strong a{
		color:white;
		text-decoration:none;
	}
	.copyright strong a:hover{
		color:#4ab8ca;
		}
		

.col-centered{
	margin:0 auto;
	float:none;
}









/* --------------------------------- Responsive Styles-------------------------------- */

@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }

    header.carousel .carousel {
        height: 70%;
    }
	#menu ul li {
	width:50%;
    float: left;
	height:auto;
}
#menu li a {
	border-right:1px solid #515151;
	border-bottom:1px solid #515151;
}
.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse{
	max-height:900px;
}
.navbar-header button{
	background-color:none;
	border:none;
	color:#fff;
}
.navbar-brand {
	width:300px;
	height:auto;
	padding:8px 10px;
}
.navbar-toggle{
	padding:15px 10px;
}

#wrapper {
	margin-top:61px;
}
.about_layout{
	  background-color:#f5f6f6; 
	  padding:20px 50px; 
	  width:100%;
  }
.cards{
		width:100%;
		float:left;
		
		}
		.copyright{
		width:80%;
		text-align:center;
		margin-left:10%;
		float:none;
		}
		.payment img{
	margin:0 auto;
	padding:3px;
}
}




/* --480px Responsive Styles-- */
@media(max-width:480px) {
    #menu ul li {
	width:50%;
    float: left;
	height:auto;
}
#menu li a {
	border-right:1px solid #515151;
	border-bottom:1px solid #515151;
}

.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse{
	max-height:900px;
}
.navbar-header button{
	background-color:none;
	border:none;
	color:#fff;
}
.navbar-brand {
	width:300px;
	height:auto;
	padding:8px 10px;
}
.navbar-toggle{
	padding:15px 10px;
}
}

