﻿<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>PLMR LIGHTINGS</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Content/style.css" rel="stylesheet">
    <link href="~/Content/main.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
    <!-- Custom Fonts -->
    @*<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">*@
	<link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-route.min.js"></script>
     
    @*<title>@ViewBag.Title</title>*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular") 
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/responsiveslides")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/AllProductsModule")
</head>
<body ng-app="testApp">
  
    <script src="~/Scripts/testApp.js"></script>
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/jquery.js"></script>   
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/responsiveslides.min.js"></script>
<script src="~/Scripts/jssor.slider-22.1.8.min.js" type="text/javascript"></script>
     <script>
	     // You can also use "$(window).load(function() {"
	     $(function () {
	         // Slideshow 4
	         $("#slider4").responsiveSlides({
	             auto: true,
	             pager: false,
	             nav: true,
	             speed: 1000,
	             namespace: "callbacks",
	             before: function () {
	                 $('.events').append("<li>before event fired.</li>");
	             },
	             after: function () {
	                 $('.events').append("<li>after event fired.</li>");
	             }
	         });
	     });

	     jssor_1_slider_init = function () {

	         var jssor_1_options = {
	             $AutoPlay: false,
	             $BulletNavigatorOptions: {
	                 $Class: $JssorBulletNavigator$
	             },
	             $ThumbnailNavigatorOptions: {
	                 $Class: $JssorThumbnailNavigator$,
	                 $Cols: 3,
	                 $Align: 200
	             }
	         };

	         var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);

	         /*responsive code begin*/
	         /*you can remove responsive code if you don't want the slider scales while window resizing*/
	         function ScaleSlider() {
	             var refSize = jssor_1_slider.$Elmt.parentNode.clientWidth;
	             if (refSize) {
	                 refSize = Math.min(refSize, 600);
	                 jssor_1_slider.$ScaleWidth(refSize);
	             }
	             else {
	                 window.setTimeout(ScaleSlider, 1000);
	             }
	         }
	         ScaleSlider();
	         $Jssor$.$AddEvent(window, "load", ScaleSlider);
	         $Jssor$.$AddEvent(window, "resize", ScaleSlider);
	         $Jssor$.$AddEvent(window, "orientationchange", ScaleSlider);
	         /*responsive code end*/
	     };


	     function openModal() {
	         document.getElementById('myModal').style.display = " block";
	     }

	     function closeModal() {
	         document.getElementById('myModal').style.display = " none";
	     }

	     var slideIndex = 1;
	     showSlides(slideIndex);

	     function plusSlides(n) {
	         showSlides(slideIndex += n);
	     }

	     function currentSlide(n) {
	         showSlides(slideIndex = n);
	     }

	     function showSlides(n) {
	         var i;
	         var slides = document.getElementsByClassName("mySlides");
	         var dots = document.getElementsByClassName("demo");
	         var captionText = document.getElementById("caption");
	         if (n > slides.length) { slideIndex = 1 }
	         if (n < 1) { slideIndex = slides.length }
	         for (i = 0; i < slides.length; i++) {
	             slides[i].style.display = " none";
	         }
	         for (i = 0; i < dots.length; i++) {
	             dots[i].className = dots[i].className.replace("active", "");
	         }
	         if (slides[slideIndex - 1] != 'undefined') {
	             slides[slideIndex - 1].style.display = " block";
	             dots[slideIndex - 1].className += " active";
	         }
	         captionText.innerHTML = dots[slideIndex - 1].alt;
	     }
  </script>

      <div class="navbar navbar-inverse navbar-fixed-top">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header" style="float:none;">
				
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
				
			<span class="navbar-brand"><img src="~/Content/images/logo.png" alt=""></span>
				<span style="float:right;" class="hidden-xs"><img src="~/Content/images/flag.png" alt="" ></span>
               <div class="top-info pull-right hidden-xs" style="text-align:left; color:#fff; padding:5px 0px; ">
                    <p><i class="fa fa-phone" aria-hidden="true"></i> +91 891 992 1166 &nbsp;&nbsp;
                        <i class="fa fa-phone" aria-hidden="true"></i> +91 918 290 7143&nbsp;&nbsp;
                        <i class="fa fa-phone" aria-hidden="true"></i> +1 732 318 8311
                    </p>
                   <p><i class="fa fa-paper-plane" aria-hidden="true">&nbsp;</i>info@PlmrLightingSolutions.com</p>
                   <div><img src="~/Content/images/WhatsApp.png" style="width:25px;height:25px;align-content:stretch" />
                       <div style='vertical-align:middle; display:inline;'>+1 732 318 8311</div> &nbsp;&nbsp;
                       <img src="~/Content/images/Skype.png" style="width:25px;height:25px;align-content:stretch" />
                       <div style='vertical-align:middle; display:inline;'>Shafi.Syed008</div> 
                   </div>     
               </div> 
            </div>
        
        
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <nav id="menu">
       			 	<ul>
						<li><a href="/home/index"><i><img src="~/Content/images/h_ico.png" alt=""></i><br>Home</a></li>
        				<li class="drop"><a href="/Home/LedStreetLights"><i><img src="~/Content/images/p_ico.png" alt=""></i><br>Products</a>
							<div class="dropdown-content">
								@*<a href="/home/LedProducts">LED Chips</a>*@
								<a href="/Home/LedStreetLights">Street Lights</a>
								<a href="/Home/LedDrivers">Circuits</a>
                                <a href="/Home/Accessories">Accessories</a>
							</div>						
						</li>
            			<li><a href="/home/ComparisionChart"><i><img src="~/Content/images/c_ico.png" alt=""></i><br>Comparison Chart</a></li>
            			<li><a href="/home/OverView"><i><img src="~/Content/images/ser_ico.png" alt=""></i><br>Overview</a></li>                            
            			<li><a href="/home/AboutLED"><i><img src="~/Content/images/ec_ico.png" alt=""></i><br>About LED?</a></li>
                        <li><a href="/home/TrackOrders"><i><img src="~/Content/images/tr_ico.png" alt=""></i><br>Follow Up</a></li>
                            
                        <li><a href="/home/about"><i><img src="~/Content/images/a_ico.png" alt=""></i><br>About us</a></li>
                        <li><a href="/home/ContactUs"><i><img src="~/Content/images/cc_ico.png" alt=""></i><br>Contact us</a></li>            			
        			</ul> 
				</nav>
            </div>
 </nav>
</div>
 <div class="container body-content no-padding">
        @RenderBody()
             
    </div>
    
    <div style="bottom:0;width:100%">
 
<footer>
<div class="container no-padding">
	
	<div class="col-md-12">

        <div class="col-md-6 short-links">
            <ul style="text-align:center;">
            <li><a href="/home/AboutLED" >What is LED ?</a></li>
            <li><a href="/home/ComparisionChart">Comparision Chart</a></li>                
             <li><a href="/home/TermsUse">Terms of Use</a></li>
            <li><a href="/home/PrivacyPolicy">Privacy Policy</a></li>
             <li><a href="/home/Disclaimer">Disclaimer Policy</a></li>
        </ul>
        </div>
        <div class="col-md-6 short-info" style="text-align:right" >
            <p> PLMR Lighting Solutions &copy 2016. All Rights Reserved.</p>
        </div>
        
       <!-- <table border="0" style="border-color:white;width:100%;text-wrap:none;border-spacing:10px;text-align:left"><tr>
            <td><a href="/home/AboutLED" style="color:white;font-family:'Times New Roman';font-size:small">What is LED ?</a></td>
            <td style="width:50px" />
           <td><a href="/home/about" style="color:white;font-family:'Times New Roman';font-size:small">About PLMR</a></td>
            <td><a href="/home/ComparisionChart" style="color:white;font-family:'Times New Roman';font-size:small">Comparision Chart</a></td>
            <td><p> PLMR Lighting Solution &copy 2016. All Rights Reserved. Designed by <strong><a href="http://www.shreesoftit.com" target="_blank">Shree Soft</a></strong></p></td>
                                                                </tr></table>-->
	</div>
</div>
</footer>
        </div>
 
</body>
</html>
